{% load static %}

{% with 'hef_'|add:identifier as field_id %}
    {% with 'hei_'|add:identifier as iframe_id %}

        <div id="{{ field_id }}">

            <textarea style="display:none" name="{{ widget.name }}" class="no-widget-init"
                      id="hyperHiddenField">{% if widget.value %}{{ widget.value }}{% endif %}</textarea>

            {% include 'hypereditor/partials/editor_iframe.html' with field_id=field_id iframe_id=iframe_id %}
        </div>
    {% endwith %}
{% endwith %}
